/* main.css: add and override styles */
/* X out of Y records selected */
.dc-data-count small {
    font-size: 16px;
}

.dc-data-count {
    margin-right: 0px;
}

/* container */
.container-fluid {
    padding-left: 40px;
    padding-right: 40px;
}

/* axis text */
.dc-chart .axis text {
    font-size: 12px;
}

/* span containing the link and selection of the graphs */
.resetContainer {
    position: absolute;
    max-width: 300px;
}

a {
    cursor: pointer
}

/* wrapper around the table, enable scrolling */
#dataTableWrapper {
    overflow: auto;
}





/* histograms */
#histograms {
    margin-top: 15px;
}





/* upload css */
.upload-container {
    width: 510px;
}

.upload-container > div {
    padding: 20px 50px;
    margin-top: 10%;
}

.upload-container hr {
    border-top-width: 2px;
    margin: 15px 0px;
}

.upload-container .radio {
    margin-left: 20px;
}

.upload-container .radioDescription {
    position: relative;
    top: 3px;
}

.panel {
    border-radius: 10px;
    border-width: 3px;
}






/* statistics per column */
#columnStatistics, #correlationDiv {
    display: none;
    position: fixed;
    top: 50px;
    left: -10px;
    background-color: #fff;
    border-color: #ddd;
    z-index: 2;

}

#columnStatistics {
    padding: 25px 30px;
    width: 310px;
}

.col-stat-title {

}

.col-stat-key {
    padding-top: 5px;
}

.col-stat-value {
    padding-top: 5px;
    text-align: right;
}

.closeInformationDiv {
    position: absolute;
    top: 10px;
    right: 10px;
}





/* correlation-table, 45 degree header from http://jimmybonney.com/articles/column_header_rotation_css/ */
#correlationTable td {
    border: 1px solid #ddd;
}

#correlationDiv {
    padding: 40px 140px 25px 25px;
}

td.correlationHead45 {
    height: 120px;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 12px;
    line-height: 0.8;
    border: 0px !important;
}

td.correlationHead45 > div {
    position: relative;
    top: 0px;
    left: 60px; /* 120 * tan(45) / 2 = 60 where 120 is the height on the cell and 45 is the transform angle*/
    height: 100%;
    -ms-transform:skew(-45deg,0deg);
    -moz-transform:skew(-45deg,0deg);
    -webkit-transform:skew(-45deg,0deg);
    -o-transform:skew(-45deg,0deg);
    transform:skew(-45deg,0deg);
    overflow: hidden;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
}

td.correlationHead45 span {
    -ms-transform:skew(45deg,0deg) rotate(315deg);
    -moz-transform:skew(45deg,0deg) rotate(315deg);
    -webkit-transform:skew(45deg,0deg) rotate(315deg);
    -o-transform:skew(45deg,0deg) rotate(315deg);
    transform:skew(45deg,0deg) rotate(315deg);
    position: absolute;
    bottom: 37px; /* 50 cos(45) = 35 with an additional 2px margin*/
    left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
/* width: 100%;*/
    width: 95px; /* 120 / cos(45) - 50 cos (45) = 134??? where 120 is the height of the cell, 50 the width of the cell and 45 the transform angle*/
    text-align: left;
/* white-space: nowrap; */ /*whether to display in one line or not*/
}

td.correlationBody {
    width: 50px;
    padding: 5px;
}





/* css for the infosection from the table */
#data-table .dc-table-head {
    position: relative;
    padding: 0px !important;
}

.dc-table-head .columnName {
    padding: 8px;
}

.tableHeadFilter {
    vertical-align: middle !important;
}

.dc-table-head .filterLink {
    white-space: nowrap;
    line-height: 2.5em;
}

.hrTable {
    margin: 2px 8px;
}

.dc-table-head .columnDatatype {
    padding: 8px 36px 8px 8px;
    font-family: Courier New;
    float: left;
}

.dc-table-head .columnInfo {
    position: absolute;
    bottom: 18px;
    right: 8px;
    background-image: url("../img/info.png");
    width: 23px;
    height: 23px;
}

.dcTableHeadComposition {
    padding: 0px !important;
}

.columnComposition {
    height: 10px;
    width: 100%;
}

.columnCompositionValid, .columnCompositionEmpty, .columnCompositionFaulty {
    height: 10px;
    float: left;
}





/* style for the background of the table-cells */
.dc-table-column {
    padding: 0px !important;
}

.dc-table-column>div {
    padding: 8px;
    height: 100%;
    width: 100%;
}





/* css for the empty, faulty, outlier-values from the table & for the legend */
.emptyValue, .tableLegendEmpty .coloredLegend, .columnCompositionEmpty {
    background-color: #8491E3;
}

.faultyValue, .tableLegendFaulty .coloredLegend, .columnCompositionFaulty {
    background-color: #FA8995;
}

.outlierValue, .tableLegendOutlier .coloredLegend {
    background-color: #E3C771;
}

.columnCompositionValid {
    background-color: #7DFD9C;
}




/* histogram-legend colors */
.tableLegendInt .coloredLegend {
    background-color: #8C3365;
}

.tableLegendDouble .coloredLegend {
    background-color: #33558C;
}

.tableLegendString .coloredLegend {
    background-color: #388C32;
}

.tableLegendBoolean .coloredLegend {
    background-color: #8C6F33;
}





/* table legend */
.tableLegend {
    padding-right: 20px;
    float: right;
}

.tableLegend h4 {
    float: right;
}

.coloredLegend {
    width: 16px;
    height: 16px;
    float: right;
}

.legendText {
    padding-right: 5px;
    float: right;
}

.tableLegendInner {
    clear: right;
}

.tableLegendHistogram {
    margin-top: 15px;
}





/* correlation-matrix-link at the left of the table-legend */
.showCorrelationMatrix {
    float: left;
    padding-top: 25px;
}