/* main.css: add and override styles */
/* X out of Y records selected */
.dc-data-count small {
  font-size: 16px;
}

/* container */
.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

/* axis text */
.dc-chart .axis text{
  font-size: 12px;
}

/* span containing the link and selection of the graphs */
.resetContainer {
  position: absolute;
  max-width: 300px;
}

a {
  cursor: pointer
}

#dataTableWrapper {
  overflow: auto;
}




/* upload css */
.upload-container {
  width: 500px;
}

.upload-container > div {
  padding: 20px 50px;
}

.upload-container hr {
  border-top-width: 2px;
  margin: 15px 0px;
}

.upload-container .radio {
  margin-left: 20px;
}

.upload-container .radioDescription {
  position: relative;
  top: 3px;
}